body {  
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #1101ff, #9abef7);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 200px;
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    /*text-align: center;*/
}

h1 {
    color: #333;
}

.menu {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding */
    margin: 10px 0; /* Espaçamento em cima e embaixo */
}

.menu li {
    display: inline; /* Exibe os itens em linha */
    margin: 0 15px; /* Espaçamento entre os itens */
}

.menu a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: black; /* Cor dos links */
    font-weight: bold; /* Torna os links em negrito */
}

.menu a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}